/*---------------------------RESET---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/*---------------------------GENERAL---------------------------*/
body {
    font-family: 'Josefin Sans', sans-serif;
    color: #244C72;
    background-color: #F2F4F7;
    margin: 0;
}


/*---------------------------HEADER---------------------------*/
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background:#244C72;
    border-bottom: 1px solid #F2F4F7;
}

/*---LOGO ADJUSTMENT---*/
.logo {
    height: 50px;
}

/*---MENU & SEARCH BUTTONS---*/
.menu-toggle,
.search {
    font-size: 32px;
    color: #F2F4F7;
    background: none;
    border: none;
    cursor: pointer;
}

/*---------------------------NAVIGATION MENU---------------------------*/
/*--MAIN BUTTONS--*/
.main-nav ul {
    background: #244C72;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
    padding: 16px;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #F2F4F7;
    padding: 8px 16px;
    border-radius: 12px;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    background-color: #122A40;
    color: #F2F4F7;
    text-decoration: none;
}

/*---------------------------HERO---------------------------*/
.hero {
    height: 300px;
    background: #F2F4F7;
    color: #244C72;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-bottom: 5px solid #244C72;
}

.hero-buttons {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btn {
    padding: 8px 16px;
    border-radius: 12px;
    text-decoration: none;
    color: #F2F4F7;
    background-color: #244C72;
    justify-content: center;
    list-style: none;
    
}

/*---------------------------IMAGE GRID---------------------------*/
.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
}

.img-grid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px; 
}
/*---------------------------FOOTER---------------------------*/
.site-footer {
    background-color: #244C72;
    color: #F2F4F7;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    line-height: 32px;
}

/*---------------------------CONTACT PAGE---------------------------*/
.contact-page {
    padding: 24px;
}

.contact-page h1 {
    text-align: center;
    margin-bottom: 24px;
}

/* FLEX LAYOUT */
.contact-layout {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* MAP */
.map-box {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.map-box iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border: 0;
}

/* DETAILS */
.contact-details {
    flex: 1;
    background: #F2F4F7;
    padding: 20px;
    border-radius: 12px;
}

.contact-details h2 {
    margin-top: 0;
}

.contact-details p {
    margin-bottom: 16px;
}

/*---------------------------CONTACT FORM---------------------------*/

.contact-form label {
    display: block;
    margin-bottom: 4px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    appearance: none;
    font-size: 1em;

    border: 1px solid #122A40;
    border-radius: 8px;

    display: block;
    width: 100%;
    padding: 10px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .input-section {
    margin: 16px 0;
}

.contact-form form {
    max-width: 420px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 12px;
    background: #F2F4F7;
}

/*MOBILE*/
@media (max-width: 600px) {

}